<!doctype html>
<html>
<head>
<title>RecruiterzPost</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/mycss.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/first.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>

</style>
</head>
<body onload="redbox()">
<header>
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/newpost">Post a Job</a></li>
  <li><a href="/history">History Post</a></li>
  <li class="divider"></li>
  <li><a href="/billing">Billing</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper blue darken-1">
    <a href="/" class="brand-logo" style="font-weight:lighter">RePo</a>
    <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
      <li><a href="/loginsignup">SignUp</a></li>
      <li><a href="/services">Services</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="/" data-activates="dropdown1">Recruiterz<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="/login">Login</a></li>
        <li><a href="/loginsignup">SignUp</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/newpost">Post a Job</a></li>
        <li><a href="/history">History Post</a></li>
        <li class="divider"></li>
        <li><a href="/billing">Billing</a></li>
      </ul>
  </div>
</nav>
</div>
</header>

{{{body}}}

<footer class="page-footer">
         <!-- <div class="footer-copyright"> -->
           <div class="container">
           © 2016 Copyright
           <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
           </div>
         <!-- </div> -->
</footer>
</body>
</html>
