
<div class="parallax-container">
    <div class="parallax"><img src="/images/para3.jpg"></div>
</div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">RecruiterzPost</h2>
      <p class="grey-text text-darken-3 lighten-3">A simple Job posting portal</p>
      <div class="row">
            <div class="col s12">
              <div class="card-panel teal hoverable">
                <span class="white-text"><h6>Welcome to RecruiterzPost | a simple job posting portal</h6>
                </span>
              </div>
            </div>
      </div>
    </div>

  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/para3.jpg"></div>
  </div>

<div class="section white">
<div class="container">
<div class="row">
<div class="col s6">
<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/Home1.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
<div class="col s6">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/Home2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/images/para8.jpg"></div>
</div>
<div class="section white">
<div class="container">
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img src="/images/Home4.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="/">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="section white">
<div class="container">
<p> THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. </p>
<p> THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. </p>
<p> THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. THis  is the example of long text. </p>
</div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/images/para2.jpg"></div>
</div>
<!--
<form action="http://localhost:3000/process" method="post">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
<button id="mybutton" onclick="redbox()"> Click me buddy</button>
-->
