<div class="parallax-container">
    <div class="parallax" height=100px><img src="/images/para5.jpg"></div>
</div>
<div class="section white">
<div class="container">

  </span>
<div class="row">
      <div class="col s12">
        <div class="card-panel teal hoverable">
          <span class="white-text"><h6>Please fill in the following details and submit to post your Job</h6>
          </span>
        </div>
      </div>
</div>
<div class="row">
<form class="col s12">
<div class="input-field col s12">
  <i class="material-icons prefix">assignment_ind</i>
  <input id="job_title" type="text" class="validate" length="50" ng-model="job_title">
  <label for="job_title">Job Title</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">assignment</i>
          <textarea id="job_description" class="materialize-textarea" length="300" ng-model="job_description"></textarea>
          <label for="job_description">Job Description</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">donut_small</i>
  <input id="job_company" type="text" class="validate" length="50" ng-model="job_company">
  <label for="job_company">Company</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">link</i>
  <input id="job_url" type="text" class="validate" length="50" ng-model="job_url">
  <label for="job_url">URL</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">attach_money</i>
  <input id="job_salary" type="text" class="validate" length="50" ng-model="job_salary">
  <label for="job_salary">Salary</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">label</i>
  <input id="job_type" type="text" class="validate" length="50" ng-model="job_type">
  <label for="job_type">Job Type</label>
</div>

<div class="input-field col s6">
    <i class="material-icons prefix">format_list_numbered</i>
  <input id="job_experience" type="text" class="validate" length="50" ng-model="job_experience">
  <label for="job_experience">Job Experience</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">toc</i>
  <input id="job_category" type="text" class="validate" length="50" ng-model="job_category">
  <label for="job_category">Job Category</label>
</div>

<div class="input-field col s12">
    <i class="material-icons prefix">school</i>
          <textarea id="job_education" class="materialize-textarea" length="300" ng-model="job_education"></textarea>
          <label for="job_education">Education</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">location_city</i>
  <input id="job_city" type="text" class="validate" length="50" ng-model="job_city">
  <label for="job_city">City</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">location_city</i>
  <input id="job_state" type="text" class="validate" length="50" ng-model="job_state">
  <label for="job_state">State</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">public</i>
  <input id="job_country" type="text" class="validate" length="50" ng-model="job_country">
  <label for="job_country">Contry</label>
</div>
<div class="input-field col s6">
    <i class="material-icons prefix">local_post_office</i>
  <input id="job_postalcode" type="text" class="validate" length="50" ng-model="job_postalcode">
  <label for="job_postalcode">Postal Code</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">domain</i>
  <input id="job_domain" type="text" class="validate" length="50" ng-model="job_domain">
  <label for="job_domain">Job Domain</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">list</i>
  <input id="job_otherdetail" type="text" class="validate" length="50" ng-model="job_otherdetail">
  <label for="job_otherdetail">Other Detail</label>
</div>
<div class="input-field col s12">
    <i class="material-icons prefix">notes</i>
  <input id="job_notes" type="text" class="validate" length="50" ng-model="job_notes">
  <label for="job_notes">Notes</label>
</div>
<button class="btn waves-effect waves-light" ng-click="addjobs()">Submit
  <i class="material-icons right">send</i>
</button>
<a class="waves-effect waves-light btn right btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="It will clear all input fields to fill the form again"><i class="material-icons right">replay</i>Reset</a>
</form>
</div>
</div>
</div>

<div class="parallax-container">
    <div class="parallax" height=100px><img src="/images/para5.jpg"></div>
</div>
