<div class="container">

  <table class="bordered striped responsive-table">
         <thead>
           <tr>
               <th data-field="id">Job Title</th>
               <th data-field="name">Company</th>
               <th data-field="price">Salary (INR)</th>
               <th data-field="price">Experience</th>
               <th data-field="id">Job Title</th>
               <th data-field="name">Company</th>
               <th data-field="price">Salary (INR)</th>
               <th data-field="price">View</th>
           </tr>
         </thead>

         <tbody >
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td><a href="#!" target="_blank"class="waves-effect waves-light btn">View</a></td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
           <tr>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
             <td>Software Developer</td>
             <td>Microsoft</td>
             <td>15 LPA</td>
             <td>5+ Years</td>
           </tr>
           <tr>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
             <td>UX Developer</td>
             <td>XYZ Technologies pvt. Ltd.</td>
             <td>12 LPA</td>
             <td>3-5 Years</td>
           </tr>
           <tr>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
             <td>Operations Manager</td>
             <td>AWS Technologies pvt. Ltd.</td>
             <td>25 LPA</td>
             <td>8-12 Years</td>
           </tr>
         </tbody>
  </table>



</div>
